<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>java_spring_101_initial_start</display-name>

	<servlet>
		<servlet-name>java_spring_104_servlet_mapping_in_web_xml</servlet-name>
		<servlet-class>>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/servlet-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
	<servlet-name>java_spring_104_servlet_mapping_in_web_xml</servlet-name>
	<url-pattern>/</url-pattern>
	</servlet-mapping>

</web-app>